.section {
  display: flex;
  height: 100%;
  padding-top: 78px;
  position: relative;
  flex-direction: row;
  background: linear-gradient(to bottom,#fff 11rem,#f0f9f9 17rem);
}

.showcase {
  background-size: cover;
  background-position: 50%;
  height: calc(100vh - 79px);
  width: 1204px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: sticky;
  top: 78px;
}

.river {
  min-width: 705px;
  z-index: 0;

  .riverContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .riverIcon {
      display: flex;
      justify-content: center;
      margin-top: 34px;
    }

    .riverTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 48px;
      margin-bottom: 18px;

      span {
        font-family: 'Frank Ruhl Libre', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1.2px;

        color: #222222;
        border-bottom: solid 3px #FFD977;
        margin-right: 6px;
      }

      svg {
        fill: #b02e00;
        width: 31px;
        height: 17px;
      }
    }

    .riverTitle:hover {
      span {
        border-color: #b5460f;
      }

      svg {
        fill: #004c42;
      }
    }

    .riverRecipesList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      width: 580px;
    }
  }
}

.card {
  width: 600px;
  background-color: #FFFFFF;
  opacity: 0.88;
  margin-bottom: 30px;
  padding: 10px 21px 20px 17px;
  cursor: pointer;
}

.card:hover {
  .cardContent {
    fieldset {
      .showcaseLink {
        span {
          text-decoration: underline;
        }
      }
    }
  }
}

.cardContent {
  height: 100%;

  fieldset {
    width: 100%;
    height: 100%;
    border: solid 2px #FFD977;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .cardTitle {
      font-family: 'Frank Ruhl Libre', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 44px;
      line-height: 48px;

      display: flex;
      align-items: center;
      text-align: center;

      color: #222222;
      margin: 16px 20px 0 20px;
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;

      display: flex;
      align-items: center;
      text-align: center;

      color: #222222;
      margin: 8px 20px 0 20px;
    }

    .showcaseLink {
      display: flex;
      margin-bottom: 26px;
      margin-top: 24px;
      align-items: flex-start;

      span {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1px;

        color: #222222;

        flex: none;
        order: 0;
        flex-grow: 0;
        margin-right: 5px;
      }
    }
  }

  legend {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #B5460F;
    padding: 0 10px;
  }
}
